.wrap {
  text-decoration: none;
  position: absolute;
  color: black;
  &_active {
    //visible: hidden;
    opacity: 0;
  }
}

.screen {
  z-index: 1000;
  //opacity: 0;
  height: 100vh;
  width: 100vw;
}
