@import "../../constants";

.wrap {
  display: flex;
  flex-direction:column;
  .input {
    height: 48px;
    border-radius: $border-radius;
    border: 1px solid $color-input-border;
    box-shadow: $box-shadow;
    font-weight: 400;
    font-size: 18px;
    outline: none;
  }
  .large {
    height: 81px;
  }
}

.label {
  font-family: $font-family-main;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  margin-bottom: 10px;
}

.errorMsg {
  font-family: $font-family-main;
  color: $color-error;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}