@import '../../constants';

.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: $color-input-border;
  color: white;
  
  a {
    text-decoration: none;
    color: white;
  }
}

