@import '../../constants';

.header {
  background-color: $color-input-border;
  color: $color-background;
  width: 100%;
  min-height: 48px;
  .headerText{
    font-family:$font-family-main;
    color: $color-background;
    font-weight: $font-weight-normal;
    font-size: 24px;
  }
  .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    color: $color-background;
  }
  .login {
    cursor: pointer;
    padding: 19px 8px 13px 0;
  }
}

