@import "../../constants";

.room {
  padding: 11px 16px 10px 33px;
  border-bottom: $color-chat-border;
  @media (any-hover: hover) {
    &:hover {
      background-color: $color-hovered-room;
    }
  }
  &.current {
    position: relative;
    &:before {
      content: "";
      width: 15px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $color-active-room;
    }
  }
}
