$color-primary: #3fdedd;
$color-secondary: #B8DE6F;
$color-avatar: #F1E189;
$color-border-avatar: #979797;
$color-user-avatar: #F39233;
$color-error: #FF6C26;
$color-text: #6A6868;
$color-background: #FFFFFF;
$color-background-layout: #E7E7E7;

$font-family-main: Helvetica;
