@import "../../constants";

.wrapMessage {
  display: flex;
  //align-items: center;
  &.reverse {
    flex-direction: row-reverse;
  }
  
  .messageBlock {
    max-width: 745px;
    background-color: #01C5C4;
    box-shadow: $box-shadow;
    border-radius: $border-radius-me;
    background-color:$color-input-border;
    margin:7px 0;
    &.notMe {
      border-radius:16px 4px 16px 4px;
      background-color:$color-secondary;
    
    }
  }
}


